<h1>Listing User accounts</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Transaction date</th>
      <th>Transaction place</th>
      <th>Transaction amount</th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts.each do |user_account| %>
      <tr>
        <td><%= user_account.name %></td>
        <td><%= user_account.transaction_date %></td>
        <td><%= user_account.transaction_place %></td>
        <td><%= user_account.transaction_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>